.donut-chart {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.donut-chart .donut-chart-container {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1 1 100%;
}
